{% extends 'base.html' %}

{% block title %} about us {% endblock %}

{% block body %}
<h1 class="nav-link active" aria-current="page" href="/" style="font-family: cursive; font-size: 39px; color: white; text-align: center; margin-top: 30px; margin-bottom: 30px;">About Us</h1>
<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <h6 style="margin: 4px">
                <strong style="font-family: cursive; font-size: 20px;color: rgb(41, 53, 214);">Welcome to Bytemasters,</strong> <br> <strong style="font-size: 20px;">y</strong>our ultimate destination for all things technology. Founded in 2024, we have been at the forefront of providing cutting-edge electronics and computing solutions to customers worldwide.

At Bytemasters, we understand the dynamic nature of the technology industry, and we are committed to staying ahead of the curve. With a passion for innovation and a dedication to customer satisfaction, we strive to offer the latest gadgets, devices, and accessories that enhance your digital lifestyle. <br> <br>

<strong style="font-family: cursive; font-size: 18px;color: rgb(41, 53, 214);">Our extensive range of products includes:</strong>
<br> <br>
<strong>Computers:</strong>  <br>Whether you're a casual user, a professional, or a hardcore gamer, we have the perfect computer for your needs. From sleek laptops to powerful desktops, our selection is curated to cater to every requirement and budget. <br>
<strong>Electronics: </strong> <br> Explore our diverse collection of electronics, featuring smartphones, tablets, smartwatches, cameras, and more. We source our products from leading brands known for their quality and reliability, ensuring that you get the best value for your money. <br>
<strong>Accessories: </strong><br>Enhance your devices with our range of accessories, including chargers, cables, cases, and peripherals. Designed to complement your gadgets seamlessly, our accessories combine style and functionality to elevate your user experience.
            </h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <h6 style="margin: 4px">
                At the heart of Bytemasters is a team of technology enthusiasts who are passionate about delivering excellence. Our knowledgeable staff members are always ready to assist you with expert advice, technical support, and personalized recommendations, ensuring that you make informed decisions.
<br> <hr><br>
As a customer-centric company, we prioritize your satisfaction above all else. We strive to provide a seamless shopping experience, from browsing our website to receiving your order at your doorstep. With secure payment options, fast shipping, and hassle-free returns, we aim to exceed your expectations at every step.
                Whether you're a tech novice or an experienced enthusiast, Bytemasters is your trusted partner on your journey towards digital empowerment. Join us today and discover the endless possibilities that technology has to offer!
<br> <hr> <br>
<strong>Thank you for choosing Bytemasters as your preferred destination for all your computing and electronics needs. </strong>
            </h6>
        </div>
 
    </div>
</div>

{% endblock %}