{% extends 'base.html' %}

{% block title %} contactus {% endblock %}

{% block body %}
<h1 class="nav-link active" aria-current="page" href="/" style="font-family: cursive; font-size: 39px; color: white; text-align: center; margin-top: 30px; margin-bottom: 30px;"></h1>
<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <!-- Contact Us -->
<div class="contact-us-container">
    <h2>Contact Us</h2>
    <p>Thank you for choosing Bytemasters. We value your feedback, inquiries, and suggestions. Our dedicated team is here to assist you with any questions you may have.</p>

    <!-- Customer Support -->
    <div class="contact-info">
        <h3>Customer Support</h3>
        <p>For assistance with orders, product inquiries, or technical support, our customer support team is available to help you.</p>
        <p><i class="fas fa-phone"></i> <span>Phone:</span> +254714130512</p>
        <p><i class="far fa-envelope"></i> <span>Email:</span> <a href="mailto:peterochieng008@gmail.com">peterochieng008@gmail.com</a></p>
        <p><i class="fas fa-comment-alt"></i> <span>Live Chat:</span> Visit our website to chat with a live representative during business hours.</p>
    </div>

    <!-- Business Inquiries -->
    <div class="contact-info">
        <h3>Business Inquiries</h3>
        <p>For partnership opportunities, wholesale inquiries, or corporate collaborations, please contact our business development team.</p>
        <p><i class="far fa-envelope"></i> <span>Email:</span> <a href="mailto:pytemasterstech@gmail.com">Bytemasters@gmail.com</a></p>
        <p><i class="fas fa-phone"></i> <span>Phone:</span> +254783386969</p>
    </div>

    <!-- Visit Us -->
    <div class="contact-info">
        <h3>Visit Us</h3>
        <p>If you prefer to meet us in person, you can visit our physical store location:</p>
        <p>Bytemasters Electronics Store<br>
            Next to Rubis<br>
            Egerton<br>
            Kenya
        </p>
    </div>

    <!-- Stay Connected -->
    <div class="stay-connected">
        <h3>Stay Connected</h3>
        <p>Stay up to date with the latest news, promotions, and product launches by following us on social media:</p>
        <p><i class="fab fa-facebook-f"></i> <a href="https://web.facebook.com/profile.php?id=100060600812145" target="_blank">Facebook</a></p>
        <p><i class="fab fa-twitter"></i> <a href="[Insert Twitter Handle]" target="_blank">Twitter</a></p>
        <p><i class="fab fa-instagram"></i> <a href="[Insert Instagram Handle]" target="_blank">Instagram</a></p>
        <p><i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/peter-ochieng-51ba54240/" target="_blank">LinkedIn</a></p>
    </div>

    <!-- Feedback Form -->
</div>

        </div>
 
    </div>
</div>

{% endblock %}